.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: red;
}

.navbar-default {
    background-image: url('gingham.jpg');
    background-size: 100%;
    overflow: hidden;
    font-size: 1.5em;
}

#logo{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px #A7DBD8;
    font-size: 1em;
}

body {
    font-family: 'Slabo 27px', serif;
    background-color: #F1EBEB;
    font-size: 15px;
}

.flamingo {
    height:75px;
}

.page-title {
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px #A7DBD8;
}

.tiny-mingos {
    height: 30px;
}