<!doctype html>
<html>
<head>
  <title>Aunt Besty's Passive Agressive Movie Advice</title>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <link src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="header"><title>Aunt Besty's Passive Agressive Movie Advice</title></div>

  {% block content %} put your content here {% endblock %}
  
<div class="footer">Brought to you by AB Productions </div>
</body>
</html>