<!doctype html>
<html>
<head>
  <title>Your Passive Agressive Aunt's Movie Advice</title>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="navbar navbar-default navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <img class="flamingo" src="../static/flamingo.png">
            <img class="flamingo" src="../static/flamingo.png">
            <img class="flamingo" src="../static/flamingo.png">
            <a class="navbar-brand" id="logo" href="/">Aunt Betsy's Passive Agressive Movie Advice</a>
        </div>
            
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if email is defined %}
                        <a class="navbar" href="/user-list">Hello, {{ email }}!</a>
                    {% else %}
                        <a class="navbar" href="/user-list">Hello!</a>
                    {% endif %}
                </li>
                <li>
                    <a href="/user-list">
                        View User List
                    </a>
                </li>
                <li>
                    <a href="/movie-list">
                        View Movie list
                    </a>
                </li>
                {% if session['user_id'] is defined %}
                    <li><a href="/logout" id="logout">Sign Out</a></li> 
                {% else %}    
                    <li><a href="/login">Sign   In</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>
  <div class="header"><title></title></div>
  <div class="container">
  {% block content %} put your content here {% endblock %}
</div>
<div class="footer container">Brought to you by AB Productions </div>
</body>
</html>