{% extends 'base.html' %}
{% block content %}

 <center><h1 class="page-title">Movies</h1></center>
    <ul>
      <table class="table-striped table-hover"> 
        <tr>
            <th class="col-md-3">Movie Title</th>
            <th class="col-md-3">Movie Year</th>
            <th class="col-md-3">IMDB Link</th>
        </tr>
    
    {% for movie in movies %}
        <tr> 
            <td>
                <a href="/movie-detail/{{ movie.movie_id }}" id="id_movie">{{ movie.title }} 
            </td>
            <td>{{ movie.released_at }}</td>
            <td><a href="{{ movie.imdb_url }}">{{ movie.imdb_url }}</a>
            </td>
        </tr>
    {% endfor %}

    </table>
    </ul>
<script>

</script>
{% endblock %}
